html,body{
    margin: 0px;
}
table.headerTable{
    font-family: "Calibri","Century Gothic","Avant Garde",Helvetica,Arial,sans-serif;
    border-width: 0px;
    border-collapse: collapse;
}
table.headerTable td{
    font-size: 12px;
    color: #333333;
    font-weight: bold;
	padding: 0px;
}
table.headerTable td.big{
    font-size: 13px;
    color: #333333;
    font-weight: normal;
}
table.headerTable td.other{
    font-size: 13px;
    color: #333333;
    font-weight: bold;
}
table.headerTable td.colhead{
    color: #1589ff;
    font-weight:  bold;
    font-size: 18px;
}
table.headerTable td.orange{
    color: #ff8800;
    font-size: 12px;
    font-weight: bold;
    
}
table.headerTable td.brown{
    color: #993300;
    font-size: 13px;
    font-weight: bold;
    
}
span.form{
    font-family: "Calibri","Century Gothic","Avant Garde",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #333333;
    background: #f8f8f8;
    border: 1px solid #cccccc;
    padding: 5px;
}
span.big{
    font-family: verdana;
	font-weight: bold;
	font-size: 24px;
	color: #000000;
}
p.matter{
    font-family: "Tahoma";
	font-weight: normal;
	font-size: 13px;
	color: #000000;
    text-align: justify;
    line-height: 18px;
}
p.matter1{
    font-family: "Tahoma";
	font-weight: normal;
	font-size: 14px;
	color: #000000;
    line-height: 20px;
}
p.matter2{
    font-family: "Tahoma";
	font-weight: normal;
	font-size: 15px;
	color: #000000;
    line-height: 40px;
}
p.matter3{
    font-family: "Tahoma";
	font-weight: normal;
	font-size: 20px;
	color: #000000;
    line-height: 50px;
}
table.detailTable2{
	font-family: "Tahoma";
    border-collapse: collapse;
}
table.detailTable2 td{
	font-weight: bold;
	font-size: 15px;
	color: #000000;
}
table.detailTable2 td.up{
	font-size: 12px;
	color: #000000;
}
table.detailTable2 td.heading{

	font-weight: bold;
	font-size: 14px;
	color: #1589ff;
    background: #f8f8f8;
    border: 1px solid #cccccc;
    padding: 5px;
}
table.detailTable2 td.heading1{

	font-weight: bold;
	font-size: 12px;
	color: #333333;
}
table.detailTable2 td.heading2{

	font-weight: bold;
	font-size: 12px;
	color: #333333;
    text-decoration: underline;
}
table.detailTable2 td.data{

	font-weight: bold;
	font-size: 12px;
	color: #000000;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
}
table.detailTable2 td.data1{

	font-weight: normal;
	font-size: 13px;
	color: #000000;
}
table.detailTable2 td.data2{

	font-weight: bold;
	font-size: 16px;
	color: #000000;
}
table.detailTable2 td.data3{

	font-weight: bold;
	font-size: 20px;
	color: #000000;
}
table.examTable{
	font-family: "Calibri","Century Gothic","Avant Garde",Helvetica,Arial,sans-serif;
    border-collapse: collapse;
    border: 1px solid #cccccc;
}
table.examTable td{
	font-weight: bold;
	font-size: 12px;
	color: #000000;
    border: 1px solid #cccccc;
}
table.examTable td.heading{

	font-weight: bold;
	font-size: 14px;
	color: #1589ff;
    background: #f8f8f8;
    border: 1px solid #cccccc;
    padding: 5px;
}
table.examTable td.heading1{

	font-weight: bold;
	font-size: 12px;
	color: #333333;
}
table.examTable td.data{

	font-weight: bold;
	font-size: 12px;
	color: #000000;
    text-transform: uppercase;
}
table.detailTable3{
	font-family: "Tahoma";
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
table.detailTable3 td{
	font-weight: bold;
	font-size: 12px;
	color: #000000;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 40px;
}
table.detailTable3 td.noborder{
	font-weight: bold;
	font-size: 12px;
	color: #000000;
    border: 0px;
    height: 40px;
}
table.detailTable3 td.heading3{

	font-weight: bold;
	font-size: 12px;
	color: #000000;
    background: #f8f8f8;
    border: 1px solid #cccccc;
    padding: 5px;
    text-align: center;
}
table.detailTable3 td.data{

	font-weight: bold;
	font-size: 12px;
	color: #000000;
    text-transform: uppercase;
}
